*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

body{
    background-color: #7caaff;
}
#container{width: 100%}

h1{
    font-family: 'Bowlby One SC', cursive;
    font-size: 1.6em;
    color: black;
}

.boxx_sing{
    display: none;
}

header{
    background-image: url("../../vendors/images/header_background.jpg");
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 720px) {
    header {
        flex-direction: column;
    }

}

@media (min-height: 850px) {
    header{height: 28vh;
    color: #eaf4ff}
    .from_login{
        width: 45vh;
    }

}

.from_login{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0,0,0,0.6);
    border-radius: 5vw;
    margin-top: 7%;
    margin-bottom: 7%;
    color: #eaf4ff;

}

h1{
    margin-left: 3vw;
    color: #eaf4ff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;

}

.login_div{
    margin-right: 3vw;
}


.label_checkbox:hover {
    color: red;
    cursor: pointer;
}


.boxx_sing {
    position: fixed;
    background-color: white;
    width: 100vw;
    margin-top: 50vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);


}

.boxx {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;


}

fieldset{
    background-color: #7caaff;
}

#submit_cadastro{
    background-color: black;
    color: azure;

}

.closed_box{
    margin-left: 100%;
    color: aquamarine;
}







@media (min-width: 1250px) {


    /* cadastrar cliente */
    #box_sing {
        background-color: rgba(0, 0, 0, 0.8);


    }


    .boxx {
        justify-content: center;
        width: 100vw;
        height: 100vh;
        margin-top: 16vw;
        align-items: center;
    }

    /* hearder*/
    header {
        background-color: #000000;
        width: 100%;
        height: 12vw;
        color: #eaf4ff;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-image: url("../../vendors/images/header_background.jpg");
    }

    #login {
        width: 30%;
        height: 75%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .from_login{display: inline}

    #form_body {
        background-color: rgba(0, 0, 0, 0.5);
        width: 85%;
        height: 100%;
        border-radius: 25%;
    }

    .label_login {
        margin-left: 15%;
    }

    .label_checkbox {
        margin-left: 15%
    }


    .form_iten {
        margin-bottom: 4%;
        margin-top: 2%;
    }

    .submit {
        margin-left: 62%;
        margin-bottom: 1.2%
    }

    .submit:hover {
        background-color: #7caaff;
    }

    #new_client {
        margin-left: 25vw;
    }

    .formul {
        display: flex;
        height: 21vw;
        flex-direction: column;
        margin-top: 9vw;
        width: 55vw;
        align-items: center;
        justify-content: space-around;
        font-size: 20px;
        background-color: rgba(0, 0, 0, 0.8);
        margin-bottom: auto;
    }

    .closed_box {
        font-size: 45px;
        margin-left: 90%;
        cursor: pointer;
    }

    fieldset {
        margin-bottom: 10%;
        background-color:rgba(0,0,0,0);
    }
}

@media (min-width: 900px) and (max-width: 1250px){
    .from_login{border-radius: 2vh}

}

@media (max-width: 322px) {
    header h1{
        font-size: initial;
    }
    
}


/*---------------------------------------------------- end header---------------------------------------------- */

/* ------------------------------------------------- start menu nav --------------------------------------------- */

#hamburguer{
    display: none;
}

#label_hamburguer{
    background-color: #eaf4ff;
    font-size: 25px;
    border-radius: 4px;
}

#categ_menu{
    display: none;
}

.menu_nav{
    background-color: yellow;
}

.menu_nav{
    z-index: 999;
    display: none;
    position: absolute;
    width: 100%;
}

#hamburguer:checked ~ .menu_nav{
    display: block;
}

.um_lider a{
    text-decoration: none;
    color: black;
}

.um_lider li{
    list-style: none;
    padding: 20px;

}

.um_lider ul{
    display: none;
    color: firebrick;
}

#categ_menu:checked ~ .ul_categ{
    display: block;
}

.um_lider li ul li a{

}
.img_book_enfase{
    height: 100%;
    width: 100%;
}

.livro_enfase{
    display: flex;
    background-color: red;
    justify-content: space-around;
    align-items: center;

}


.livro_enfase div{
    display: flex;
    flex-direction: column;
}

.livro_enfase  h3{
    text-align: center;
}

.livro_enfase h4{
    background-color: yellow;
    color: darkred;
    font-size: 38px;
    text-align: center;
}





















.ul_categ {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.ul_categ> li {
    float: none;
    padding: 20px;
    background: red;
}

.um_lider{
    padding-inline-start: 40px;

}

.itens::after {
    clear:both;
    content: "";
    display: block;
}


@media (min-width: 900px) {
    .label_hamb{display: none}
    .menu_nav{display: flex;
    justify-content: space-around}

    .menu_nav{
        position: static;
    }

    .um_lider{
        float: left;
        display: flex;
        height: 4vw;

    }

    .ul_categ{
        position: absolute;
    }


    .um_lider li a:hover,.um_lider li label a:hover{
        color: darkred;
        cursor: pointer;

    }

}
@media (max-width: 900px) {
    .ZHamb_fixo{
        position: fixed;
        top: 2px;}

    .ZHamb_fixod{
        position: fixed;
        top: 50px;}

    .Menu_fixo{
        position: fixed;
        top: 2px;}


    .normal{
        position: static;
    }


}


/* --------------------------------------------------  end nav_menu  ******************************************* */

.section_livros{
    width: 100%;
    background-color: burlywood;
}

.item_livro{
    width: 100%;
    display: flex;
    margin-bottom: 22px;
    background-color: yellowgreen;

}

.item_livro picture{
    padding: 2vw;
}
.item_livro picture img{
    width: 82%;
}

.section_livros{
    width: 100%;
    margin-bottom: 20px;
}

.info_livro{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


.preco_livro{
    color: red;
}

.titulo_livros{
}

.mostrar_mais{
    color: red;
}

.livro_enfase{
    width: 100vw;
    height:42vh ;
    margin-top: 9px;
    border-radius: 7px;
}


@media (min-width: 800px) {
    .livro_enfase {
        width: 100vw;
        height: 100%;
        margin-top: 9px;
        border-radius: 7px;
    }

}

/* footer     ---------------------------------------------------- */

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;flex-wrap: wrap;
    margin-bottom: 18px;
}

footer h4{
    width: 100%;
    display: flex;
    justify-content: center;

}

@media (min-width: 800px) {

    .item_livro{
        width: 48%;
        margin-left: 2%;
    }

    .section_livros{
        display: flex;
        flex-wrap: wrap;
    }

}

.ul_categ> li {
    float: none;
    padding: 20px;
    background: red;
}
















